/* NAVEGADOR */
html{
    background-image: radial-gradient(rgb(0, 183, 255), rgba(0, 38, 255, 0.856));
}

#título {
    font-family:'Times New Roman', Times, serif;
    font-size: 300%;
    color: rgb(255, 255, 255);
    padding-right: 5em;
    padding-top: 0.5em; 
}

#logo {
    width:140px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
}

#lista {
    padding-right: 100px;
    color:rgb(0, 0, 0);
    font-family:'Times New Roman';
}

header {
    border-radius: 2em;
    display: flex;
    text-align:center;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgba(0, 255, 0, 0.671);        
}    

/* FORMULARIO */

p {
    text-align: center;    
}

input {
    text-align: center;
}

/* FORMULARIO CON TABLA*/

.container {
    margin-right: 55%;
   
    margin-top: 5%;
    text-align: center;
    font-style: verdana;
    font-size: large;      
} 

#formularioDent {   
    margin-top:5%;
}

/* TABLA */

td {
    text-align: center;
    border-bottom: 1px solid #999;
    width: 15%;
}

caption {
    font-weight: bold;
    font-style: italic;
}

table {
    margin-left: 45em;
    margin-top: -25em;
    background-image: radial-gradient(rgb(255, 255, 255));
    letter-spacing: 1px;
    border-spacing: 3px;
    font-size: large;
    width: 50%;
    border-style: double;
    border: solid 10px rgba(0, 0, 0, 0.288);
    border-radius: 20px;
}

#tftable {
    position: relative;
    left: 20px;
    color: #333333;
    width: 100%;
    border-width: 1px;
    border-color: #729ea5;
}

#tftable th {
    background-color: #acc8cc;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #729ea5;
    text-align: center;
}

#tftable tr {
    background-color: #056a774d;
}

#tftable td {
    border-width: 1px;
  
    border-style: solid;
    border-color: #729ea5;
}

#tftable tr:hover {
    background-color: #ffffff;
}

/* FOOTER */

footer {
    text-align: center;
    right: 0px;
    padding: 10px;
    background-color: rgba(0, 255, 0, 0.671);
    color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    bottom: 0;
}

#parrafoPie{
    display: inline-block;
    font-size: 80%;
    text-align:center;  
}
